* {
    box-sizing: border-box;
}
div.heading p {
  font-size: 30px;
}

form.detail-form {
  background-color: #eae9e9;
  border-radius: 5px;
  border: 3px solid #e4e0e0;
  padding: 55px;
  margin-top: -10px;
}
.upload_form {
	display: none;
}

.mt20 {
  margin-top: 20px;
}

.center {
  text-align: center;
}
#displayResults {
    word-wrap: break-word;
}
.modal-body {
	overflow-x: auto;
	margin-right: 15px;
}
.nameform {
	margin-top: 15px
}
.firstHeading {
	font-weight: bold;
}
.uploadLabel {
	margin-top: 15px
}
#contentContainer {
  margin-top: -10px;
}
.navbar-pf-vertical {
  font-family: 'Raleway', sans-serif;
}
.navbar-pf-vertical .navbar-brand {
  font-family: 'Raleway' , sans-serif;
  font-weight: 600;
  font-size: 20px;  
  margin-top: 8px;
}
.detail-form {
  height: 480px;
}
.contents{
  margin-top: -10px;
}